{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNav">
            <a class="navbar-brand" href="{{ path('homepage') }}">
                {% trans %}Literature{% endtrans %}
            </a>
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('new_reader') }}">{% trans %} Sign Up {% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('my_book') }}">{% trans %} My Book{% endtrans %}</a>
                </li>
                <li class="nav-item dropdown">
                    {% if app.request.getLocale()=="ru" %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="lang" src="{{ asset('images/language/russian.png') }}"> Ru </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('setLanguage', {'language' : 'en' }) }}"><img
                                        class="lang" src="{{ asset('images/language/english.png') }}"> En</a>
                        </div>
                    {% endif %}
                    {% if app.request.getLocale()=="en" %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="lang" src="{{ asset('images/language/english.png') }}"> En </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('setLanguage', {'language' : 'ru' }) }}"><img
                                        class="lang" src="{{ asset('images/language/russian.png') }}"> Ru</a>
                        </div>
                    {% endif %}
                </li>

            </ul>
        </div>
    </nav>
    <div class="container pt-4">
        <div class="row">
            <div class="col">
                {% block content %}{% endblock %}
            </div>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('vendor/jquery/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('vendor/popper/js/popper.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}

