{% extends "@App/main.html.twig" %}

{% block title %}{% trans %} Catalog {% endtrans %}{% endblock %}

{% block content %}
    <h3>{% trans %} Catalog {% endtrans %}</h3>
    <div class="row">
        <div class="col-3">
            {% for category in categories %}
                <div>
                    <a href="{{ path('get_category',{'id' : category.id} ) }}">{{ category.name }}</a>
                </div>
            {% endfor %}
        </div>
        <div class="col-9">
            {% set last_Time = "" %}
            <div class="row">
                {% for book in books %}
                    <div class="col-3">
                        <div class="book_title">{{ book.title }}</div>
                        <div class="book_author">{{ book.author }}</div>
                        <div class="img_wrapper">
                            <img class="book_image"
                                 src="{{ vich_uploader_asset(book, 'imageFile', 'AppBundle\\Entity\\Book') }}">
                        </div>
                        <div class="book_footer">
                            {% if book.status == 'free' %}
                                <a class="btn btn-success mt-3"
                                   href="{{ path('get_book',{'id' : book.id} ) }}">{% trans %}Get book{% endtrans %}</a>
                            {% endif %}
                            {% if book.status == 'busy' %}
                                {% for order in book.usersTakes %}
                                    {% set last_Time = order.getExpireDate().date |date("d/m/Y") %}
                                {% endfor %}
                                {% trans %}Waiting to{% endtrans %}:
                                {{ last_Time }}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

    </div>





{% endblock %}
