body {
    background: #fafafa;
}

.row_head {
    font-weight: bold;
}

.lang {
    height: 20px;
    width: auto;
    margin-top: -4px;
}

.book_image {
    height: 200px;
    width: auto;
}

.img_wrapper {
    background: #efefef;
    text-align: center;
}

.book_title {
    text-align: center;
    font-weight: bold;
    margin: 5px 0;
}

.book_author {
    text-align: center;
    font-size: 12px;
    margin: 5px 0;
}

.book_footer {
    text-align: center;
    font-size: 12px;
    margin: 5px 0;
    font-weight: bold;
}
.my-book:nth-child(2n+1) {
    background: #FFFFFF;
}