{% extends "@App/main.html.twig" %}

{% block title %}{%  trans %}Get book{% endtrans %}{% endblock %}
{% block content %}
    <h1>{%  trans %}Get book{% endtrans %}</h1>
    {{ form(form) }}
{% endblock %}
