{% extends "@App/main.html.twig" %}

{% block title %}{% trans %}My Book{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}My Book{% endtrans %}</h1>
    {{ form(form) }}

    {% for book in books %}
        <div class="pl-3 pt-3 pb-3 my-book">
            {{ book['recive_date'].date | date("d/m/Y") }} - {{ book['expire_date'].date | date("d/m/Y") }}
            {{ book['book'].getTitle() }}
            {% if book['book'].getStatus == 'free' %}
                <span class="btn btn-success">{% trans %}Returned{% endtrans %}</span>
            {% else %}
                {% if date(book['expire_date'].date) > date() %}
                    <span class="btn btn-warning">{% trans %}Expected{% endtrans  %}</span>
                {% endif %}
                {% if date(book['expire_date'].date) < date() %}
                     <span class="btn btn-danger">{% trans %}Overdue{% endtrans  %}</span>
                {% endif %}
            {% endif %}
        </div>


    {% endfor %}


{% endblock %}
